body {
background-color: 	#303030;
}

h1{

}

a{
  color: white;
}

a:link{
  color: white;
}

a:visited{
  color: white;
}

.header{
  position: fixed;
  bottom: 0px;
  color: white;
  background-color: 	#303030; opacity:0.6;
  text-align: center;
  font-size: 5vw;
  text-transform: uppercase;
  font-family: helvetica, arial;
  letter-spacing: -0.05em;
  width: 100%;
  z-index: 2;
  font-family: 'Do Hyeon';
}

.nav{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  color: white;
  text-align: center;
}

.button{
  background-color: 	#303030; opacity:0.8;
  color: white;
  font-family: arial;
  border: 2px solid 	#303030;
  padding: 5px;
  font-family: 'Do Hyeon';
}

.show{
  display: block;
}

.item.large {
  width: 50%;
  height: auto;
}

.hide{
  display: none;
}

.main{
  overflow: hidden;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.item{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  width: 20%;
}



.item img{
  max-width: 100%;
}
